.menu a,
.usuario a {
    text-decoration: none;
    font-size: 1.1rem;
    color: white !important;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

.menu-logo{
    color: white !important
}

.menu a:hover::after,
.usuario a:hover::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: white !important;
    border-radius: 3px;
}

/* =======================REGISTER ============================*/
.error-message {
    color: rgb(185, 153, 152);
    font-size: 12px;
    margin-top: 5px;
}



.page {
    background-size: cover;
    background-position: center;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container-page {
    display: flex;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
    width: 50%;
    max-width: 800px;
    margin: 20px;
}

@media (max-width: 767px) {
    .container-page {
        flex-direction: column;
        width: 90%;
        margin: 10px;
    }
}

.left,
.right {
    padding: 40px;
}

.left {
    background: white;
    width: 50%;
}

.right {
    background: #474A59;
    color: #F1F1F2;
    width: 50%;
    position: relative;
}

@media (max-width: 767px) {

    .left,
    .right {
        width: 100%;
        padding: 20px;
    }
}

.login {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 20px;
}

.eula {
    color: #999;
    font-size: 14px;
    line-height: 1.5;
}

.form {
    width: 100%;
}

label {
    color: #c2c2c5;
    display: block;
    font-size: 14px;
    margin-top: 20px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    color: #f2f2f2;
    font-size: 15px;
    height: 30px;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder,
input[type="password"]::placeholder {
    color: #c2c2c5;
}

input[type="tel"]:invalid {
    border-bottom: 1px solid red;
}

input::-moz-focus-inner {
    border: 0;
}

#submit-button {
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #707075;
    margin-top: 30px;
    transition: color 300ms, border-color 300ms, background-color 300ms;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

#submit-button:hover {
    color: #f2f2f2;
    border-color: #f2f2f2;
    background-color: rgba(255, 255, 255, 0.1);
}

#submit-button:focus {
    color: #f2f2f2;
}

#submit-button:active {
    color: #d0d0d2;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.remember-me input[type="checkbox"] {
    transform: scale(1.3);
    margin-right: 10px;
}

.remember-me label {
    font-size: 14px;
    color: #c2c2c5;
    margin-bottom: 18px;
}

.extra-links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.extra-links a {
    color: #c2c2c5;
    text-decoration: none;
    font-size: 14px;
}

.extra-links a:hover {
    text-decoration: underline;
}



@media (max-width: 1024px) {
    .navbar {
        padding: 0 1rem;
        background-color: var(--primary-color);
    }

    #btn-menu {
        display: block;
    }

    .btn-menu span {
        color: white !important;
    }

    .menu-logo {
        color: white !important;
    }

    .menu,
    .usuario {
        display: none;
    }

    .menu ul {
        gap: 1.5rem;
    }

    .usuario ul {
        gap: 0.5rem;
    }
}

@media(max-width: 600px) {
    .container-page {
        width: 100%;
        flex-direction: column;
        height: auto;
        box-shadow: none;
    }

    .left,
    .right {
        width: 100%;
        padding: 20px;
    }

    .login {
        font-size: 30px;
    }

    .eula {
        font-size: 12px;
    }

    label {
        font-size: 12px;
    }

    input[type="email"],
    input[type="password"] {
        font-size: 16px;
    }

    #submit {
        font-size: 16px;
    }

    .remember-me label {
        font-size: 12px;
    }
}


@media (max-width: 768px) {
    .navbar {
        justify-content: space-between;
    }

}

@media (max-width: 468px) {
    html {
        font-size: 80%;
    }

    .menu-logo {
        margin-right: 0.5rem;
    }
}